<div class="container mx-auto col-sm-6 pt-3 m-3">
  <h1 class="text-center">Movies Watched!</h1>
  <hr class="font-weight-bold" />

 
    <% @movies.each do |movie| %>
      <% if movie.user == current_user || !current_user %>
        <p class="py-1 bg-light px-2">
          <%= link_to movie.name, movie, class: "text-decoration-none text-dark" %>
        </p>
      <% end %>
    <% end %>
 
    <div class="text-center">
      <% if current_user %>
        <%= link_to "New Movie", new_movie_path, class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

